<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fort Collins Startup Week</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <link href="fonts/stylesheet.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript">
      const schedAPI = 'af3d5ba89176a64e6122486f6e755be4';
      const schedConf = 'techstarsstartupweekfortcol2020';
      // const schedConf = 'fbwden19';
    </script>
  </head>
  <body>


    <div id="main">

      <div class="page-controls">
        <div v-if="loaded && source" :class="'source source-' + source.toLowerCase()">
          <button @click.prevent="fetchData()">Refresh Data from API</button> Data pulled from <strong>{{ source }}</strong>
          <br><small>WARNING: You will get in trouble if you refresh the Sched API more than 30 times per minute.</small>
        </div>
      </div>

      <div  
        :id="'item_wrapper_' + index" 
        class="item_wrapper"
        v-for="(item, index) in response.data" 
        v-if="loaded">
        
        <div class="item-frame">
          <div 
            :id="'item_' + index" 
            class="item" 
            :style="'backgroundImage: url(' + fullSizeImage( item.avatar ) + ')'">
            <header>
              <h1>{{ item.name }}</h1>
              <h2>
                <span v-if="item.position">{{ item.position }},</span> 
                <span v-if="item.company">{{ item.company }}</span>
              </h2>
            </header>
    
            <footer>
              <div class="logo">
                <img src="img/tsFCSW-logo.png">
              </div>
              <div class="dates">
                February 24-28, 2020
                <br>
                StartupFoCo.com
              </div>
            </footer>
          </div>
        </div>

        <div class="controls">
          <p>Change the top text (note: this will not change anything in Sched)</p>
          <label> Name
            <input v-model="item.name">
          </label>
          <label> Position
            <input v-model="item.position">
          </label>
          <label> Company
            <input v-model="item.company">
          </label>
          <br>
          <br>
          <button class="button" @click="savePNG( 'item_' + index )">Generate Image</button>
          <small>Image will appear below, drag it to your desktop or right click and Save As...</small>
          <div :id="'item_' + index + '_images'" class="image-container"></div>
        </div>
      </div>
      <div v-else>Loading...</div>

    </div>


    <script src="vendor/dom-to-image.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
