/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

:root {
  --width: 13.500em;
  --height: 13.500em;

  --orange: #FD5A00;
}

body {
  font-family: glacial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.page-controls {}

.page-controls .source {
  background-color: #EEE;
  padding:5px 10px;
}

.page-controls .source.source-api {
  background-color: #6e5;
}

.page-controls .source.source-cache {
  background-color: #f1a138;
}

.controls {
  margin: 10px 10px 30px;
}

.button {
  font-size: 2rem;
  background-color: var(--orange);
}

.controls label {}
.controls label input {
  display: block;
  font-size: 16pt;
  max-width: 40ch;
  padding: 5px;
  width:100%;
}

.item-frame {
  margin: 10px;
  box-shadow: 0 0 10px #000a;
  display: inline-block;
}

.item {
  width: var(--width);
  height: var(--height);
  font-size: 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item.rendering {
  font-size: 4rem;
}

header,
footer {
  background-color: #000a;
  color: white;
}

header {
  padding: .5em;
}

header h1 {
  color: var(--orange);
  font-family: norwester;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

header h2 {
  text-transform: uppercase;
  font-size: 0.4em;
}

footer {
  display: flex;
  align-items: center;
  padding: .5em;
}

footer .logo {
  width:65%;
  margin-right: 0.5em;
}
footer .logo img {
  display: block;
  width: 100%;
}
footer .dates {
  width: 35%;
  font-size: .4em;
  font-weight: bold;
  text-align: center;
}