@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Oswald:400,500,600,700&display=swap');

:root {
  --width: 13.500em;
  --height: 13.500em;
  --size: 25px; /* used to set box's font size */

  --blue: #00B3E7;
  --yellow: #E6EF00;
}

@media screen and (max-width: 768px){
  :root {
    --size: 20px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

strong {
   color: inherit;
}

table.is-hoverable tbody tr {
  cursor: pointer;
}

.frame {
  box-shadow: 0px 8px 20px 1px #0008;
  display: inline-block;
  width: var(--width); /* 1080px */
  height: var(--height); /* 1350px */
  font-size: var(--size);
}

.frame-example {
  display: flex;
  align-items: center;
}

.frame__hint {
  color: #888;
  font-size: 1rem;
  padding: 1rem;
}

.step {
  background-color: #333;
  color: #fff;
  display: inline-block;
  width: 2ch;
  height: 2ch;
  border-radius: 2ch;
  text-align: center;
  line-height: 1.4;
}

@media screen and (min-width: 768px){

  .example-0 {
    margin-right: 4em;
  }

  .example-0 tbody tr:hover:after,
  .example-0 .is-selected:after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    color: #CCC;
    font-style: normal;
    font-variant: normal;
    font-size: 3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    margin-left: 10px;
  }
}

.example-0 .is-selected:hover:after,
.example-0 .is-selected:after {
  color: #333;
}

.dynamic-table thead tr:first-of-type,
.dynamic-table tr td:first-of-type {
  background-color: #EEE;
  color: #888;
}
.dynamic-table tr td:first-of-type {
  vertical-align: middle;
  text-align: center;
}
.dynamic-table thead tr:first-of-type td {
  color: inherit;
  text-align: center;
}

.example .frame {
  display: block;
  margin: 0 auto;
}

.is-vcentered {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.template-0,
.template-1 {
  width: var(--width); /* 1080px */
  height: var(--height); /* 1350px */
  position: relative;
  overflow: hidden;
  font-size: var(--size);
}

.template-0 {
  background: #00B3E7;
}

.template-0__title {
  position: absolute;
  top: .2em;
  left: .2em;

  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.template-0__text {
  position: absolute;
  bottom: .2em;
  right: .2em;

  background-color: var(--yellow);
  padding: 0 .2em;
}

.template-0__img {
  position: absolute;
  left: 0.5em;
  bottom: 0.9em;

  overflow: hidden;
  border-radius: 500em;
  height: 80%;
  width: 80%;
  box-shadow: 5px 0px #0003, 20px 0px #0003;
}

.template-1 {
  background-image: linear-gradient(-45deg, rgb(197, 105, 82), rgb(187, 32, 5));
}

.template-1__title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #000a;
  padding: 0 .2em;
  font-size: 1.2em;
  font-weight: bold;
}

.template-1__text {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fffa;
  font-size: 0.7em;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 0.3em;
  width: 100%;
}

.template-1__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}